.footer-container {
  background-color: #fff;
  width: 100%;
  margin-top: auto; /* Это ключевое свойство для прижатия к низу */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #333;
}
@media (max-width: 1200px) {
  .footer-content {
      padding: 18px 15px;
  }
}

@media (max-width: 992px) {
  .footer-content {
      padding: 16px 15px;
  }
}

@media (max-width: 768px) {
  .footer-content {
      padding: 14px 10px;
      font-size: 14px;
  }
}

@media (max-width: 576px) {
  .footer-content {
      padding: 12px 10px;
      font-size: 12px;
  }
}